.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 40px 0 80px 0;
}

.pageLink {
  font-family: "Mont";
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161827;
  transition: all 0.3s;
  cursor: pointer;

  &.arrow {
    background-color: #323542;
  }

  &.active {
    background-color: #905bff;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.light {
  background-color: white !important;
  border: 1px solid #85888e !important;
}

.lightActive {
  color: white;
  background-color: #3f4144;
}
