.productImageWrapper {
  position: relative;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.prevButton {
  left: 100px;
}

.nextButton {
  right: 580px;
}
