@import "../../styles/utils/mixins";

.hotPrices {
  max-width: 100vw;

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    @include content-padding-inlain();
  }
}

.hotPricesBrand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .hotPricesBrandTitle {
    font-family: "Mont", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #f1f2f9;
  }
}

.buttonsSlider {
  display: flex;
  align-items: center;
  gap: 16px;

  .buttonsSliderLeft,
  .buttonsSliderRight {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;

    @include my-hover(transform, scale(1.1));
  }
}

.productsList {
  display: flex;
  margin-top: 24px;

  .swiper {
    width: 100vw;
  }

  .swiperSlide {
    max-width: 17rem;
  }
}
