* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pageMain {
  max-width: 1136px;
  margin: 0 auto;

  flex: 1;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: inherit;
}

.light {
  background-color: white;
  color: #0f1121;
}
.dark {
  background-color: #0f1121;
  color: #f1f2f9;
}
