@import "../../styles/utils/mixins";

.sort__container {
  display: flex;
  gap: 16px;
}

.dropdown__box {
  width: 187px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323542;
  padding: 10px 6px 9px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;

  @media (max-width: 639px) {
    width: 136px;
  }

  &__text {
    text-transform: capitalize;
    font-family: "Mont", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  &__trigger {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
  }
}
.Alphabetically {
  @media (max-width: 639px) {
    font-size: 12px;
  }
}

.dropdown {
  position: relative;
  z-index: 100;
  max-width: 187px;
  margin-bottom: 20px;

  @media (max-width: 639px) {
    width: 136px;
  }

  @include content-padding-inlain();
  box-sizing: border-box;

  &__label {
    margin-bottom: 4px;
    font-family: "Mont", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
    color: #75767f;
  }

  &__options {
    opacity: 0;
    position: absolute;
    top: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #323542;
    box-shadow: 0px 2px 15px 0px #0000000d;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #0f1121;

    &__option {
      font-family: "Mont", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      width: 100%;
      padding: 6px 12px 5px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: #696b76;
      }
    }
  }
}

.active {
  opacity: 0.93;
}

.sort__number {
  width: 136px;
}

.lightBox {
  background-color: white ;
  border: 1px solid #afb8be ;
  color: #0f1121;
}

